{
  "name": "@scope/aegora",
  "version": "0.1.0",
  "exports": {
    ".": "./src/aegora.ts",
    "./adapter/cloudflare-worker": "./src/adapter/cloudflare-worker/index.ts",
    "./adapter/bun": "./src/adapter/bun/index.ts",
    "./adapter/web-standard": "./src/adapter/web-standard/index.ts",
    "./type-system": "./src/type-system/index.ts",
    "./error": "./src/error.ts",
    "./cookies": "./src/cookies.ts",
    "./context": "./src/context.ts"
  },
  "publish": {
    "include": [
      "LICENSE",
      "NOTICE.md",
      "README.md",
      "src/**/*.ts"
    ],
    "exclude": [
      "src/**/*.test.ts",
      "test/**",
      "example/**"
    ]
  }
}
